@model CSharpBbq.Web.Models.LadderWeekViewModel
@{
    ViewBag.Title = "Kerr Ladder - Home - Current Results";
}
<h2> Welcome to the ladder site. </h2>

<p> The Ladder is an ongoing tournament designed to help participants improve their racquetball skills, meet different players and enjoy the game. It is open to all Kerr YMCA members, from beginners to the best. You are guaranteed to play opponents at your skill level as people move up and down the ladder. The ladder will begin September 12th and run 10 weeks.  There is no set schedule for the matches. You can play at an agreed upon time between you and your opponent. 
</p>
<p> Ladder results will be posted outside the courts and will be available online at</p>

<p> Email me know if there is an issue with the site. </p>
 
