@{
    ViewBag.Title = "Kerr Ladder - Legal";
    Layout = "";
}

<h1>Kerr YMCA RacquetBall Ladder</h1>
<h2>Assumption of Risk and Liability Release</h2>

<p>
<B>Release & Indemnification:</B> I hereby recognize and acknowledge that my &/or my child’s participation in recreational activities may 
involve bodily injury and/or emotional injury to myself and/or my child. In consideration of myself &/or my child being permitted to 
participate in such events, I for myself, my child, my heirs, my executors and administrators, hereby voluntarily and knowingly release, waive, and discharge Kerr YMCA, Ladder Participants, its officers, employees, and volunteers from any and all suits, claims or liability including negligence based on any injury except that may result from 
my &/or my child’s participation in activities.  In addition, I agree that I or my insurance will pay for medical hospitalization or any other expenses resulting from my &/or my child’s participation. 
</p>
<p>
<B>Emergency Treatment:</B> I hereby authorize Kerr YMCA & program staff to act on my &/or my child’s behalf in 
accordance with their best judgement in case of an emergency involving myself &/or my child, and agree to assume full responsibility for all expenses, medical, or otherwise, that may arise there from.  I understand that I or my insurance company will be billed for 
such emergency treatment. </p>
<p>
<B>Understanding:</B> By signing this assumption of risk, liability release, indemnification, and refund policy statement,  I acknowledge that I 
have read its contents and disclosure, that I understand its contents and disclosure and that I agree to its terms.</p>

<B>Signature________________________________       Date________________</B> 
</br></br> 
Please provide emergency contact informaiton below</br> </br> 

Name: ______________________________________________________________</br> 
</br> 
Email: ______________________________________________________________ </br>
 </br>
Phone Number:______________________________________________________________ </br>