@{
    ViewBag.Title = "Kerr Ladder - Rules";
    Layout = "~/Views/Shared/_LayoutNoLinks.cshtml";
}


<h2>Rule for the Ladder</h2>
<ul>
<li>All matches shall follow the <a href="http://www.usra.org/Rulebook.aspx" target="_blank"  >USRA official rules</a> of racquetball.</li>
<li>New players may join the ladder at any time.</li>
<li>All matches are played 2 games to 15, the third to 11. You win by 1 point!</li>
<li>Results are email to me at rb@csharpbbq.com</li>
<li>I will update the results Sunday night and send out to the group. Monday starts a new week.</li>
</ul>

<h2>Calculating Rankings</h2>
<ul>
<li>Rankings will be determined by earning points as follows</li>
<li>5 points are awarded for initaiting a challenge</li>
<li>If challenger defeats opponent ranked higher then them, they get 25 points</li>
<li>If challenger defeats opponent ranked equal or lower then them, they are awarded 20 points</li>
<li>You are awarded the points for your game including the tie breaker game to 11.</li>
<li>You can challenge 3 up or down the ladder. </li>
<li>You can only have 2 chanllenges per week. </li>
</ul>


For example if I challenge Jack and I'm ranked 5 and Jack is ranked 3 and I win 15-10, 10-15, 11-8 I would get 5 pts for the challenge, 25 for the 'W' and 26 for my points for a grand total of 66 points. This will start out messy but over 10 weeks the winner will surface.


<p>This is *NOT* a Y program. You must reserve courts through normal process and adhere to all Y rules<</p>



