<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharpBbq.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSharpBbq.Data.Properties.Settings>
            <setting name="LowerRankFactor" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="HigherRankFactor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ChallengeFactor" serializeAs="String">
                <value>5</value>
            </setting>
        </CSharpBbq.Data.Properties.Settings>
    </applicationSettings>
</configuration>